body {
  font-family: sans-serif;
  overflow: hidden;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}


.row{
  display: grid;
  grid-template-columns: 1fr auto;
}

.starPlaceholder{
  display: flex;
  align-self: baseline;
}

.col2{
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

.hide{
  display: none;
}
