body {
  font-family: sans-serif;
  overflow: hidden;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}


.row{
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.starPlaceholder{
  display: flex;
  align-self: center;
}

.hide{
  display: none;
}
